body{
    overflow: hidden;
    font-size: 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button{
    border-radius: 10px;
    width: 30vw;
    height: 20vh;
    margin: 2vw;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
.elso{
    background-color: var(--button-primary-color);
}
.masodik{
    background-color: var(--button-secondary-color);
}
.harmadik{
    background-color: var(--button-third-color);
}
.logout{
    position: fixed;
    top: 1vh;
    right: 1vh;
    border-radius: 5px;
    border: none;
    background-color: var(--button-fourth-color);
    color: #fff;
    height: 5vh;
    width: 15vw;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 500px){
    .elso, .masodik, .harmadik{
        width: 80vw;
    }

    .logout{
        width: 30vw;
    }
}