:root{
    --primary-color: rgb(71, 40, 40);
    --secondary-color: rgb(45, 29, 29);
    --text-color: black;
    --button-primary-color: #003166;
    --button-secondary-color: #00254d;
    --button-thirth-color: #001833;
    --button-fourth-color: #f00;
}

body{
    font-family: sans-serif;
}